body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    color: #222222;
}
.container {
    width: 940px;
    margin: 0 auto;
}
.clearfix:after {
	content:'';
	display: table;
	width: 100%;
    clear: both;
}
header {
    background: url(../img/first-bg.jpg) no-repeat center top / cover;
    height: 700px;
}
header img {
    margin-top: 45px;
}
header nav {
    float: right;
}
header nav ul {
    margin-top: 45px;
}
header nav li {
    float: left;
    display: block;
    margin-left: 42px;
}
header nav li a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}
header .welcome {
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    margin-top: 210px;
}
h1 {
    font-size: 75px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 0;
}
.welcome_intro {
    font-size: 40px;
    margin: 0;
}
.button {
    display: block;
    width: 240px;
    padding: 25px 0;
    border-radius: 3px;
    margin: 0 auto;
    background: #fed136;
    color: #484543;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 60px;
    margin-bottom: 160px;
}
.title {
    padding-top: 120px;
    padding-bottom: 80px;
    text-align: center;
}
.title p {
    font-size: 16px;
    margin-top: 10px;
}
h2 {
    font-size: 40px;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
}
.services {
    padding-bottom: 120px;
}
.services_item {
    float: left;
    width: 270px;
    text-align: center;
}
.services_item:nth-child(3) {
    float: right;
}
.services_item:nth-child(2) {
    margin-left: 65px;
}
.services_item h3 {
    margin: 20px 0;
}
h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}
p {
    font-size: 14px;
    color: #777777;
    margin: 0;
    line-height: 1.6em;
}
#portfolio {
    background: #f7f7f7;
    padding-bottom: 135px;
}
.portfolio_item img {
    float: left;
}
.portfolio_item img:nth-child(3) {
    float: right;
}
.portfolio_item img:nth-child(2) {
    margin-left: 33px;
}
span {
    text-transform: uppercase;
}
.story {
    margin-bottom: 90px;
}
.story:last-child {
    margin-bottom: 0;
}
.story .event_info {
    width: 280px;
    line-height: 1.6em;
}
.event .event_info {
    float: left;
    text-align: right;
}
.event img {
    margin-left: 100px;
}
.event_mirror .event_info {
    float: right;
    text-align: left;
}
.event_mirror img {
    margin-left: 380px;
}
footer p {
    font-size: 14px;
    color: #555555;
    text-align: center;
    padding: 115px 0;
}